* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.tapeUp {
    height: 100vh;
    width: 100vw;
}

.tapeUp p {
    color: white;
    position: absolute;
}

.tapeUp video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.mobileContainer {
    height: 100vh;
    width: 100vw;
}